**/*_temp

**/xsim.dir
**/xelab.*
**/*.wdb
**/xsim*.*
**/xvlog.*
**/vivado*
**/xil_ip_pack_*
**/*.vcd 
**/sim/**/*.rpt
**/sim/**/*.dcp

**/nvme_plddr64g_*
!**/nvme_plddr64g_*.tcl
**/nvme_plddr32g_*
!**/nvme_plddr32g_*.tcl

**/tmp
**/.Xil

fpga/*/design/*.txt
**/build